@model CommunityGardenProj.Models.Gardener

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gardener</h4>
<a asp-action="Index">Home</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GardenerId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="GardenInterest" class="control-label"></label>
            <input asp-for="GardenInterest" class="form-control" />
            <span asp-validation-for="GardenInterest" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="gardenType" class="control-label"></label>
                <select asp-for="gardenType" name="GardenInterest">
                    <option value="Organic">Organic</option>
                    <option value="Vegetable">Vegetable</option>
                    <option value="Ornamental">Ornamental</option>
                    <option value="Urban Farm">Urban Farm</option>
                </select>
                <span asp-validation-for="gardenType" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AddressId" />

            <input type="hidden" asp-for="IdentityUserId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
