@model CommunityGardenProj.Models.Gardener

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @Html.DisplayFor(model => model.FirstName)!</h1>


    <body style=" background-image: url('../Images/blueFlowers.jfif');">

        <ul>
            <li> <a asp-action="Details" asp-route-id="@Model.GardenerId">Profile</a> |</li>
            <br />
            <li> <a asp-action="AllGardens">View All Gardens</a> |</li>
            <br />
            <li> <a asp-action="GardensNearMe" asp-route-id="@Model.GardenerId">Gardens Near Me</a> |</li>
            <br />
            <li> <a asp-action="ListGardensByInterest" asp-route-id="@Model.GardenerId">Gardens of Interest</a> |</li>
            <br />
            <li> <a asp-action="SearchByCriteria">Search Gardens</a> | </li>
            <br />
            <li> <a asp-action="CreateGarden">Add a Garden</a> |</li>
            <br />
            <li> <a asp-action="Forum">Forum</a> |</li>
            <br />
            <li> <a asp-action="Resources">Resources</a> |</li>

        </ul>

    </body>
