@model CommunityGardenProj.Models.Gardener

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome @Html.DisplayFor(model => model.FirstName)!</h1>

<p>

</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model.GardenerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
