@{
    ViewData["Title"] = "Home Page";
}

    <body style=" background-image: url('../Images/Ivy.jfif');">




        <div >
            <h1 style="background-color: white" class="display-4">Community Garden Network</h1>
            <br />
            <p style="text-align:left">
                We are a community of gardeners commited to supporting
                <br />one another throughout the year to help encourage gardening in your community.
            </p>
            <br />
            <p>
                Join the network today!
            </p>
        </div>

    </body>